.theme-23 .menu,
.theme-23 .bg-gradient-theme {
  background-image: linear-gradient(135deg, #ffcf1b, #ff881b);
}

.theme-23 .menu li .menu_item[data-toggle="collapse"]:not(.collapsed), .theme-23 .menu li .menu_item.menu_item--active,
.theme-23 .bg-gradient-theme li .menu_item[data-toggle="collapse"]:not(.collapsed),
.theme-23 .bg-gradient-theme li .menu_item.menu_item--active {
  background-image: linear-gradient(135deg, #ffcf1b, #ff881b);
  box-shadow: -3px 0 0 #ffcf1b inset;
}

.theme-23 .menu li .menu_item:hover,
.theme-23 .bg-gradient-theme li .menu_item:hover {
  background-image: linear-gradient(135deg, #ffcf1b, #ffcf1b);
}

.theme-23 .menu:not(.open) li .collapse,
.theme-23 .bg-gradient-theme:not(.open) li .collapse {
  background-image: linear-gradient(135deg, #ffcf1b, #ff881b);
}

.theme-23 .menu:not(.open) li:hover .menu_item,
.theme-23 .bg-gradient-theme:not(.open) li:hover .menu_item {
  background-image: linear-gradient(135deg, #ffcf1b, #ff881b);
}

.theme-23 .text-theme-light {
  color: #ffcf1b;
}

.theme-23 .text-theme-dark {
  color: #ff881b;
}

.theme-23 .panel-subject::after {
  background-color: #ffcf1b;
}
