.theme-20 .menu,
.theme-20 .bg-gradient-theme {
  background-image: linear-gradient(135deg, #64e8de, #8a64eb);
}

.theme-20 .menu li .menu_item[data-toggle="collapse"]:not(.collapsed), .theme-20 .menu li .menu_item.menu_item--active,
.theme-20 .bg-gradient-theme li .menu_item[data-toggle="collapse"]:not(.collapsed),
.theme-20 .bg-gradient-theme li .menu_item.menu_item--active {
  background-image: linear-gradient(135deg, #64e8de, #8a64eb);
  box-shadow: -3px 0 0 #64e8de inset;
}

.theme-20 .menu li .menu_item:hover,
.theme-20 .bg-gradient-theme li .menu_item:hover {
  background-image: linear-gradient(135deg, #64e8de, #64e8de);
}

.theme-20 .menu:not(.open) li .collapse,
.theme-20 .bg-gradient-theme:not(.open) li .collapse {
  background-image: linear-gradient(135deg, #64e8de, #8a64eb);
}

.theme-20 .menu:not(.open) li:hover .menu_item,
.theme-20 .bg-gradient-theme:not(.open) li:hover .menu_item {
  background-image: linear-gradient(135deg, #64e8de, #8a64eb);
}

.theme-20 .text-theme-light {
  color: #64e8de;
}

.theme-20 .text-theme-dark {
  color: #8a64eb;
}

.theme-20 .panel-subject::after {
  background-color: #64e8de;
}
