.theme-32 .menu,
.theme-32 .bg-gradient-theme {
  background-image: linear-gradient(135deg, #f00b51, #7366ff);
}

.theme-32 .menu li .menu_item[data-toggle="collapse"]:not(.collapsed), .theme-32 .menu li .menu_item.menu_item--active,
.theme-32 .bg-gradient-theme li .menu_item[data-toggle="collapse"]:not(.collapsed),
.theme-32 .bg-gradient-theme li .menu_item.menu_item--active {
  background-image: linear-gradient(135deg, #f00b51, #7366ff);
  box-shadow: -3px 0 0 #f00b51 inset;
}

.theme-32 .menu li .menu_item:hover,
.theme-32 .bg-gradient-theme li .menu_item:hover {
  background-image: linear-gradient(135deg, #f00b51, #f00b51);
}

.theme-32 .menu:not(.open) li .collapse,
.theme-32 .bg-gradient-theme:not(.open) li .collapse {
  background-image: linear-gradient(135deg, #f00b51, #7366ff);
}

.theme-32 .menu:not(.open) li:hover .menu_item,
.theme-32 .bg-gradient-theme:not(.open) li:hover .menu_item {
  background-image: linear-gradient(135deg, #f00b51, #7366ff);
}

.theme-32 .text-theme-light {
  color: #f00b51;
}

.theme-32 .text-theme-dark {
  color: #7366ff;
}

.theme-32 .panel-subject::after {
  background-color: #f00b51;
}
