.theme-11 .menu,
.theme-11 .bg-gradient-theme {
  background-image: linear-gradient(135deg, #c56cd6, #3425af);
}

.theme-11 .menu li .menu_item[data-toggle="collapse"]:not(.collapsed), .theme-11 .menu li .menu_item.menu_item--active,
.theme-11 .bg-gradient-theme li .menu_item[data-toggle="collapse"]:not(.collapsed),
.theme-11 .bg-gradient-theme li .menu_item.menu_item--active {
  background-image: linear-gradient(135deg, #c56cd6, #3425af);
  box-shadow: -3px 0 0 #c56cd6 inset;
}

.theme-11 .menu li .menu_item:hover,
.theme-11 .bg-gradient-theme li .menu_item:hover {
  background-image: linear-gradient(135deg, #c56cd6, #c56cd6);
}

.theme-11 .menu:not(.open) li .collapse,
.theme-11 .bg-gradient-theme:not(.open) li .collapse {
  background-image: linear-gradient(135deg, #c56cd6, #3425af);
}

.theme-11 .menu:not(.open) li:hover .menu_item,
.theme-11 .bg-gradient-theme:not(.open) li:hover .menu_item {
  background-image: linear-gradient(135deg, #c56cd6, #3425af);
}

.theme-11 .text-theme-light {
  color: #c56cd6;
}

.theme-11 .text-theme-dark {
  color: #3425af;
}

.theme-11 .panel-subject::after {
  background-color: #c56cd6;
}
