.theme-27 .menu,
.theme-27 .bg-gradient-theme {
  background-image: linear-gradient(135deg, #3499ff, #3a3985);
}

.theme-27 .menu li .menu_item[data-toggle="collapse"]:not(.collapsed), .theme-27 .menu li .menu_item.menu_item--active,
.theme-27 .bg-gradient-theme li .menu_item[data-toggle="collapse"]:not(.collapsed),
.theme-27 .bg-gradient-theme li .menu_item.menu_item--active {
  background-image: linear-gradient(135deg, #3499ff, #3a3985);
  box-shadow: -3px 0 0 #3499ff inset;
}

.theme-27 .menu li .menu_item:hover,
.theme-27 .bg-gradient-theme li .menu_item:hover {
  background-image: linear-gradient(135deg, #3499ff, #3499ff);
}

.theme-27 .menu:not(.open) li .collapse,
.theme-27 .bg-gradient-theme:not(.open) li .collapse {
  background-image: linear-gradient(135deg, #3499ff, #3a3985);
}

.theme-27 .menu:not(.open) li:hover .menu_item,
.theme-27 .bg-gradient-theme:not(.open) li:hover .menu_item {
  background-image: linear-gradient(135deg, #3499ff, #3a3985);
}

.theme-27 .text-theme-light {
  color: #3499ff;
}

.theme-27 .text-theme-dark {
  color: #3a3985;
}

.theme-27 .panel-subject::after {
  background-color: #3499ff;
}
